@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import "tailwindcss";

@theme {
    --font-sans: "Figtree", sans-serif;
    --font-serif: "Figtree", serif;
    --color-primary: #084463;
    --color-secondary: #EBF5F4;
}

body {
    @apply font-sans;
}